.general-contain{
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 0;

    #create{
        margin-bottom: 100px;
        .custom-container{
            .row{
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .text-zone{
                    
                    .text-content{
                        font-family: Raleway;
                        font-size: 19px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 26px;
                        
                        

                    }
                    .text-head{
                        font-family: Playfair Display;
                        font-size: 59px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 71px;
                        

                    }
                    .buttons{
                        
                        .first{
                            height: 65px;
                            width: 200px;
                            background-color: #4BA87D;
                            margin-right: 40px;
                            outline: none;
                            border: none;

                        }
                        .second{
                            background: #FFFFFF;
                            border: 3px solid #4BA87D;
                            width: 200px;
                            height: 65px;
                        }
                    }
                }
                .img-zone{
                    img{
                        max-width: 700px;
                        height: 383px;
                    }
                }
            }
        }

    }
    #read-more{
        background-color: #f7f7f7;

        .custom-container{
            
           
            .row{
                .big-img-zone{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .img-area{
                        margin-top: 100px;
                        position: relative;
                        z-index: 2;
                        max-width:944px;
                        height: 531px;
                        overflow: hidden;
                        img{
                            width: 100%;
                            
                            
        
                        }
                    }
                }
            }
        }
        .green-zone{
            // position: relative;
            // z-index: 1;
            clip-path: polygon(100% 0, 100% 77%, 0 100%, 0 27%);            
            width: 100%;
            height: 1059px;
            transform: translateY(-233px);
            background-color: #CAEAC7;
            .row{
                .card-area{
                    transform: translateY(300px);
                    .card{
                        width: 320px;
                        height: 400px;
                        
                        .card-img{
                            width: 320px;
                            height: 282px;
                            img{
                                width: 100%;
                            }
                        }
                        .card-content{
                            font-family: Raleway;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 26px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            p{
                                max-width: 251px;
                            }

                        }
                        .card-foot{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            p{
                                width: 251px;
                            }
                            
                        }
                    }
                }
                .card-area-2{
                    transform: translateY(400px);
                }
                .card-area-3{
                    transform: translateY(460px);
                    .card-head{
                        font-family: Playfair Display;
                        font-size: 44px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 48px;
                        

                    }
                    .card-content{
                        font-family: Raleway;
                        font-size: 19px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 26px;


                    }
                }
            }
        }
    }
    
    
}

