#header{
    .custom-container{
        .my-navbar{
            background-color: #fff;
            .navbar-brand{
                img{
                    width: 129px;
                }
                .logo-text{
                    font-size: 35px;
                    font-weight: 900;
                    font-family: raleway;
                }
            }
            .navbar-collapse{
                .my-btn{
                    width: 168px;
                    height: 41px;
                    background-color: #4BA87D;
                    font-size: 17px;
                    letter-spacing: 1.26px;
                    color: #fff;
                }
                .my-ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 50%;
                    .nav-item{
                        .nav-link{
                            font-weight: 700;
                            color: #000;
                            
                        }
                        .header-line{
                            width: 0px;
                            height: 5px;
                            background-color: #4BA87D;
                            transition: 1s;
                        }
                        &:hover{
                            .header-line{
                                width: 90px;
                            }
                        }
                    }
                }
            }
        }
    }
}